  <li class="nav-item">
    <a class="nav-link <%= activeNav === 'browser-tools' ? 'active' : '' %>" href="#">
      <i class="bi bi-browser"></i>
      Browser Tools
    </a>
    <ul class="nav flex-column ms-3">
      <li class="nav-item">
        <a class="nav-link <%= activeNav === 'browserless' ? 'active' : '' %>" href="/admin/browserless">
          <i class="bi bi-cloud"></i>
          Browserless Status
        </a>
      </li>
    </ul>
  </li> 